In [15]:
import os
try:
    os.chdir(os.path.join(os.getcwd(), '../..'))
    print(os.getcwd())
except:
    pass

/Users/ze/Documents/JHU/Senior First Semester/Neural Data Design

In [9]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas

from graspy.plot import gridplot, heatmap
from graspy.utils import binarize, pass_to_ranks
from src.data import load_metagraph
from src.visualization import CLASS_COLOR_DICT, adjplot

sns.set_context("talk")

adj = np.random.rand(10,10)
meta = pandas.DataFrame({'Pair':['13a PN'] * 10, 'Class': ['ORN uPN'] * 10, 'Hemisphere': ['left'] * 10, 'In edgesum': [10] * 10, 'Outedgesum': [10] * 10, 'Total edgesum': [20] * 10, 'In degree': [10] * 10, 'Out degree': [10] * 10, 'Total degree': [20] * 10})

In [10]:
meta.head()

,Pair,Class,Hemisphere,In edgesum,Outedgesum,Total edgesum,In degree,Out degree,Total degree
0,13a PN,ORN uPN,left,10,10,20,10,10,20
1,13a PN,ORN uPN,left,10,10,20,10,10,20
2,13a PN,ORN uPN,left,10,10,20,10,10,20
3,13a PN,ORN uPN,left,10,10,20,10,10,20
4,13a PN,ORN uPN,left,10,10,20,10,10,20

In [11]:
fig, ax = plt.subplots(1, 1, figsize=(15, 15))
adjplot(
    adj,
    meta=meta,
    sort_class="Hemisphere",
    class_order="size",
    item_order="Pair ID",
    plot_type="scattermap",
    size=(1, 1),
    ax=ax
)

SyntaxError: invalid syntax (<ipython-input-11-45fc01769674>, line 5)