In [15]:
import os
try:
    os.chdir(os.path.join(os.getcwd(), '../..'))
    print(os.getcwd())
except:
    pass

/Users/ze/Documents/JHU/Senior First Semester/Neural Data Design

In [5]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas

from graspy.plot import gridplot, heatmap
from graspy.utils import binarize, pass_to_ranks
from src.data import load_metagraph
from src.visualization import CLASS_COLOR_DICT, adjplot

sns.set_context("talk")

adj = np.random.rand(10,10)
meta = pandas.DataFrame({'Pair':['13a PN'] * 10, 'Class': ['ORN uPN'] * 10, 'Hemisphere': ['left'] * 10, 'In edgesum': [10] * 10, 'Outedgesum': [10] * 10, 'Total edgesum': [20] * 10})

In [6]:
meta.head()

     Pair    Class
0  13a PN  ORN uPN
1  13a PN  ORN uPN
2  13a PN  ORN uPN
3  13a PN  ORN uPN
4  13a PN  ORN uPN